<div class='container'>
  <header class='global-header'>
    <h1 class='site-title'>HTML&CSS 스터디</h1>    
    
    <nav>
      <h2 class='sementic-hidden-text'>Menu</h2>
      <ul class='menu-list'>
        <li><a href='#'>HTML</a></li>
        <li><a href='#'>CSS</a></li>
        <li><a href='#'>JavaScript</a></li>
        <li><a href='#'>Ruby On Rails</a></li>
      </ul>
    </nav>
  </header>
</div>

<section class='center-section'>
  <div class='container'>
    <h3>가로,세로 중앙 정렬 방법(feat. `position`)</h3>
    <p class='center-content'>
      중앙 정렬하고 싶은 컨텐츠
    </p>
  </section>
</div>

<div class='container'>
  <section class='info-parent'>
    <h3 class='sementic-hidden-text'>가로 중앙 정렬(feat. `박스모델`), 가로 배치 방법(feat. `float`)</h3>
    <div class='center'>
      <div class='info-child'>
        <img class='info-image' src='http://cfile28.uf.tistory.com/image/2256634055E7B9981F0D74' alt/>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, harum aperiam reprehenderit quaerat quo beatae laudantium placeat quisquam eius dicta labore cum! Nihil tenetur sed repudiandae ipsa eveniet natus similique!</p>
      </div>
      <div class='info-child'>
        <img class='info-image' src='http://www.kccosd.org/files/blowing_in_the_wind.jpg' alt/>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, harum aperiam reprehenderit quaerat quo beatae laudantium placeat quisquam eius dicta labore cum! Nihil tenetur sed repudiandae ipsa eveniet natus similique!</p>
      </div>
      <div class='info-child'>
        <img class='info-image' src='http://cfile7.uf.tistory.com/image/2779024E53C8FC56316DA1' alt/>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, harum aperiam reprehenderit quaerat quo beatae laudantium placeat quisquam eius dicta labore cum! Nihil tenetur sed repudiandae ipsa eveniet natus similique!</p>
      </div>
    </div>
  </div>
  
  <footer class='footer'>
    <p>HTML & CSS</p>
  </footer>
</section>
  


