// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 헤더
* {
  // box-sizing: border-box;
}

.container {
  width: 680px;
  margin: 0 auto;
}

.global-header {
  height: 80px;
  // background-color: #E8E8E8;
  line-height: 80px;
}
.global-header h1 {
  font-size: 24px;
  float: left;
}
.global-header nav h2 {
  float: left;
}
.global-header nav {
  float: right;
}
.global-header::after {
  content: '';
  display: block;
  clear: both;
}


.menu-list li {
  list-style: none;
  margin-left: 10px;
  float: left;
}

.sementic-hidden-text {
  font-size: 0;
}

.center-section {
  position: relative;
  color: black;
  text-align: center;
  height: 350px;
  -webkit-background-size: cover;
  background-size: cover;
  
  background-image: url(http://cfile30.uf.tistory.com/image/1950F9465110B70F21D594);
  background-repeat: no-repeat;
  background-position: center center;
  
  // padding-top: 100px;
}

.center-section .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-content {
  padding-top: 20px;
}

.info-parent {
  padding: 30px 0;
}
.info-parent .center {
  width: 660px;
  margin: 0 auto;
}
.info-parent .center::after {
  content: '';
  display: block;
  clear: both;
}

.info-child {
  width: 200px;
  float: left;
  margin-right: 30px;
}

.info-child:last-child {
  margin-right: 0px;
}

.info-image {
  width: 200px;
}

.footer {
  text-align: center;
  padding: 20px 0;
  background-color: #000;
  color: #FFF;
}